@model NetPress.Domain.Entities.Post

<div class="col">
    <div class="post-card-wraper">
        <img class="post-card-img" src="@Model.PostPictures.OrderBy(p=> p.DisplayOrder).FirstOrDefault().Picture.Url" />
        <a asp-controller="Blog" asp-action="Post" asp-route-id="@Model.Id" asp-route-slug="@Model.PostSlug" class="post-card-title">@Model.PostTitle</a>
        <div class="post-card-excerpt">
            @Model.PostExcerpt
        </div>
        <a asp-controller="Blog" asp-action="Post" asp-route-id="@Model.Id" asp-route-slug="@Model.PostSlug" class="post-card-read-more-btn">
            Read More <i class="fa-regular fa-circle-right"></i>
        </a>
    </div>
</div>
