@using NetPress.Domain.Constants
@model NetPress.Domain.Entities.Post

@{
    var categories = Model.PostTaxonomies.Where(p => p.TaxonomyType == TaxonomiesType.Category).ToList();
}

<h1>@Model.PostTitle</h1>
@foreach (var picture in Model.PostPictures?.OrderBy(p => p.DisplayOrder)!)
{
    <img src="@picture.Picture.Url" />
}
<br/>
<span>@Model.CreatedDate.ToString("D")</span>
@if (categories.Any() == true)
{
    <ul>
        @foreach (var category in categories)
        {
            <li>@category.TaxonomyName</li>
        }
    </ul>   
}
<br/>
@Model.PostContent

