@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model NetPress.Domain.Entities.Post

<h1>@Model.PostTitle</h1>
@foreach (var picture in Model.PostPictures?.OrderBy(p => p.DisplayOrder)!)
{
    <img src="@picture.Picture.Url" />
}
<br/>
<span>@Model.CreatedDate.ToString("D")</span>
@if (Model.PostTaxonomies?.Any() == true)
{
    <ul>
        @foreach(var category in Model.PostTaxonomies)
        {
            <li>@category.TaxonomyName</li>
        }
    </ul>   
}
<br/>
@Model.PostContent

